[user]
	name = Adam Pacholski
	email = adam.pacholski@rover.com

[core]
	editor = nano

[alias]
	pu = push -u origin HEAD
	br = branch --sort=-committerdate
	co = checkout
	df = diff
	st = status
[pull]
	rebase = true
[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
